@import url('./navigation.css');
@import url('https://fonts.googleapis.com/css?family=Anton|Oswald|Poiret+One|Quicksand|Roboto|Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Oswald|Poiret+One|Quicksand|Roboto|Signika&display=swap');
body{
    background-color: rgb(249, 229, 219);
}
#container{
    background-color: #fff;
    display: flex;
    flex-direction: column;

    margin-top: 5rem;
}
.content{
    display: flex;
    flex-direction: column-reverse;
}
.contactDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.contactDetails > h1{
    font-family: 'Open Sans', sans-serif;
    text-align: start;
    font-size: 2rem;
    margin: 2rem 0;
}
.details{
    display: flex;
    flex-direction: column;
}

.itm > h1{
    font-family: 'Open Sans', sans-serif;
    text-align: start;
    font-size: 1.2rem;
    margin: 1rem 0;
}
.itm > h2{
    font-family: 'Allerta', sans-serif;
    text-align: start;
    font-size: 1rem;
    margin: 1rem 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactForm > form > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactForm > form > div > input{
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    outline: none;
} 
.phoneMessage > input{
    width: 15rem !important;
    height: 3rem !important;
}
.contactForm > form > div{
    margin: 1rem 0;
}
.contactForm > form > button{
    width: 10rem;
    height: 3rem;
    color: #fff;
    background-color: #000;
    font-size: 1.2rem;
    outline: none;

} 
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.photo img{
    width: 320px;
    height: 400px;
}
/*========================================
          SUBSCRIBE
==========================================*/
#subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 169, 156);
}
.heading h1{
    text-align: center;
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: rgb(131,49, 88);
}
.subscribeButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.subscribeButton form > button{
    background: rgb(131,49, 88);
    color: #EEE;
    transition-duration: 0.5s;
    transition-property: background-color,color,border;
    cursor: pointer;
    margin: 0 1rem;
}
.subscribeButton form > button:hover{
    background-color: #fff;
    color: rgb(131,49, 88);
    border: 3px solid rgb(131,49, 88);
}

.subscribeButton form > input , button{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    outline: none;
    color: rgb(131,49, 88);
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    border-radius: 1rem;
    

    
}
footer{
    background-color: rgb(255, 169, 156);
}
footer h1{
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    padding: 2rem 0;
    color: rgb(131,49, 88);
}